body{
    font-family:sans-serif ;
}

.biography{
    width: 65%;
    display: inline-block;
    font-size: 14px;
    line-height: 1.6;
}

.summary{
    display:inline-block ;
    vertical-align: top;
}

.summary table{
    border: 1px solid rgb(3,3, 1);
    background-color: rgb(182,209, 27);
}