.hear{
    background-color: red;
    float: left;
    height: 40px;
    width: 100%;
}
.caja2{
    width: 25%;
    height: 400px;
    background-color:yellow;
    float: left;
}
.contenido{
    float: left;
    width: 75%;
    height: 400px;
    background-color: rgb(133, 221, 228);

}
.foster{
    float: left;
    width: 100%;
    height: 50px;
    background-color: rgb(56, 206, 161);
}

.box{
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 5px;
    float: left;
}